<head>
  <meta charset="utf-8">
  <title>Nasa </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://www.citypng.com/public/uploads/preview/hd-nasa-logo-transparent-background-7017516947129576ypz4kes8x.png">
</head>
<body>
  <div class="container_head">
      <div class="search">
        <img class="nasa_logo" [src]="nasa_IMG">
        <form class="inside_search" [formGroup]="searchForm" (ngSubmit)="onSubmit()" method="post" >
          <h1>Search:</h1>
          <input formControlName="query" type="text" placeholder="Type here...">
        </form>
      </div>
    </div>
    <div class="container_body">
      <div class="images">
        <a href="https://github.com/sndr"> Github </a>
        <a href="madeby"> MadeBy </a>
        <img #imageElement class="imagens" [src]="nasa_IMG">
      </div>
    </div>
  </body>