<body>
    <div class="container">
        <img class="nasa_logo" [src]="nasa_IMG">
        <button class="icon-button" (click)="goToHome()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
        </button>
        <h1> Alexsander Benjamin </h1>
        <img src="https://avatars.githubusercontent.com/u/110127985?v=4" alt="Github profile" class="profile_pic">
    </div>
    <div class="main_container">
        <h2> About me </h2>
        <p> WORKING </p>
    </div>
    
</body>     
