@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: grey;
}
.container{
    display: grid;

}
.nasa_logo {
    max-width: 80px;
    width: auto;
    height: auto;
    padding: 1%;
    position: fixed;
    top: 1px;
    left: 12px;
    z-index: 1000;
}


.icon-button {
    margin-left: auto;
    max-width: 80px;
    z-index: 1000;
    margin-top: 28px;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}

.icon-button svg:hover {
    background-color: purple;
    border-radius: 20%; /* Make the image circular */
}
h1 ,h2{
    color: white;
    text-align: center;
    margin: 20px;
    font-family: 'Roboto Condensed', sans-serif;}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.main_container p{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 140%;
    text-align: center;
    
    
}
