body{
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    text-align: center;
}
h1{
    color: white; 
    font-size: 50px;
    text-align: center;
}
#content{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 4px;
}
.container_2{
    margin: 2px; 
    flex: 0 0 calc(33.33% - 4px); 
}
.lua_foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.imagens{
    display: flex;
    
}
.icon-button {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    padding: 0; /* Remove default button padding */
    cursor: pointer; /* Change cursor to pointer */
}

// I HAVE TO FIX THE POINT WHERE I HAVE TO PUT THE IMAGE IN ORDER TO MAKE IT WORK