<head>
  <meta charset="utf-8">
  <title>Nasa </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://www.citypng.com/public/uploads/preview/hd-nasa-logo-transparent-background-7017516947129576ypz4kes8x.png">
</head>
<body>
<div class="container">
  <button class="icon-button" (click)="goToHome()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
  </button>
  <h1>{{ Q }}</h1>
  <div id="content">
    @for (item of mediaItems; track item.title) {
      <div class="container_2">
        @for (link of item.links; track link) {
          @if (link.endsWith('.jpg')) {
            <a [href]="link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="link"
                style="min-width: auto; max-width: 100%;width: 80%; border-radius: 8px; display: inline-block;height: auto; gap: 4px;"
              />
            </a>
          }
        }
      </div>
    } @empty { 
        <h1 id="loading" style="color: white; text-align: center;">Loading...</h1>
    }
  </div>
</div>
</body>

