<div style="text-align: center; margin: 20px;">
  <h1 style="color: white; padding: 10px;">{{ Q }}</h1>

  <div id="content" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 4px;">
    @for (item of mediaItems; track item.title) {
      <div style="margin: 4px; flex: 0 0 calc(33.33% - 8px); box-sizing: border-box;">
        @for (link of item.links; track link) {
          @if (link.endsWith('.jpg')) {
            <a [href]="link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="link"
                style="width: 80%; border-radius: 8px; display: block; padding: 4px; margin: 4px;height: auto;"
              />
            </a>
          }
        }
      </div>
    } @empty {
      <h1 id="loading">Loading...</h1>
    }
  </div>
</div>
