<body>
<div class="container">
  <h1>{{ Q }}</h1>
  <div id="content">
    @for (item of mediaItems; track item.title) {
      <div class="container_2">
        @for (link of item.links; track link) {
          @if (link.endsWith('.jpg')) {
            <a [href]="link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="link"
                style="width: 80%; border-radius: 8px; display: block; padding: 2px; margin: 2px;height: auto;"
              />
            </a>
          }
        }
      </div>
    } @empty {
      <body>
        <h1 id="loading" style="color: white;">Loading...</h1>
      </body>
    }
  </div>
</div>
</body>

<!-- I HAVE TO IMPROVE DECRESING THE DELAY IN THE PAGE -->