.container{
    text-align: center;
}
h1{
    color: white; 
    padding: 10px;
}
#content{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 4px;
}
.container_2{
    margin: 4px; 
    flex: 0 0 calc(33.33% - 8px); 
    box-sizing: border-box;
}
.lua_foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.imagens{
    display: inline-flex;
}
body{
    background-color: black;
}

// I HAVE TO FIX THE POINT WHERE I HAVE TO PUT THE IMAGE IN ORDER TO MAKE IT WORK